#headpre{
     
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    font-size: 30px;
    text-align: center;
}
#headstyle{
   width:auto;
   height: 60px;
   background-color: black;
   margin: 0% 0% 0% 0%;
   padding: 10px 10px 10px 10px;

}
#navbar{
   background-color: rgb(29, 26, 26);
   height:50px;
   padding:10px;
   color: white;
   font-size:23px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.btn{
    height: 30px;
    color:darkslategrey;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
}
.navl{
   margin: 120px;
   color:white;
   text-decoration: none;  
   text-align: center;  
   
}
.navl:hover{
    color: skyblue;
    font-size: 20px;;
}
body{
    background-color: grey;
    
}
.divstyle{
    border:15px solid black;
}
.division{
   background-color: rgb(227, 240, 240);
   display:inline-block;
   padding:10px;
   margin:30px;
   border:15px solid black;
}

.head{

   color:white;
   font-size:25px;
   text-align:start;

}

footer{

   height: 50px;
   width:auto;
   background-color: black;
   color: white;
   border: 2px solid white;
   text-align: center;
   font-size: larger;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}