#headpre {
   text-shadow: 15px 5px 28px white;
   color: rgb(249, 239, 239);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   font-size: 30px;
   text-align: center;
}

#headstyle {
   width: auto;
   height: 60px;
   background-color: black;
   margin: 0% 0% 0% 0%;
   padding: 10px 10px 10px 10px;

}

#navbar {
   background-color: rgb(29, 26, 26);
   height: 50px;
   padding: 10px;
   color: white;
   font-size: 23px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btn {
   height: 30px;
   color: darkslategrey;
   font-size: 15px;
   cursor: pointer;
   border-radius: 8px;
}

.navl {
   margin: 120px;
   color: white;
   text-decoration: none;
   text-align: center;

}

.navl:hover {
   color: skyblue;
   font-size: 20px;
   
}



body {
   background-color: rgb(123, 120, 120);
   
   overflow-x: scroll;
   overflow-y: scroll;

}

.divstyle {
   box-shadow: inset 15px 15px 28px rgb(12, 11, 11);
   border: 15px solid rgb(5, 4, 4);
   border-radius: 48px;
   border-style: dotted;
}

.division {
  
   outline: 5px none red;
   outline-offset: 30px;
   box-shadow: 35px 20px 28px rgb(1, 1, 1);
   background-color: rgb(119, 123, 123);
   display: inline-block;
   padding: 10px;
   margin: 30px;
   border: 25px solid rgb(239, 237, 237);
   border-radius: 48px;
   border-style:dashed;
}

.head {

   color: white;
   font-size: 25px;
   text-align: start;

}

footer {

   height: 50px;
   width: auto;
   background-color: black;
   color: white;
   border: 2px solid white;
   text-align: center;
   font-size: larger;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}